@using System.Web.Optimization
@using Domain.EStore.Repositories
@using Ui.EStore.Controllers
@using Ui.EStore.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="keywords" content="@ViewBag.keywords" />
    <meta name="description" content="@ViewBag.description" />
    <meta name="author" content="@ViewBag.author">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <script src="~/Scripts/js.js"></script>
    @Styles.Render("~/bundles/MainCSS")
    @Scripts.Render("~/bundles/MainJs")

   
    @RenderSection("SeoRender", false)

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1051750851520783',
                xfbml: true,
                version: 'v2.1'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "http://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <link href="~/Contents/style2.css" rel="stylesheet" />
    <link href="~/Contents/css3.css" rel="stylesheet" />
    <link href="~/Contents/responsive.css" rel="stylesheet" />
</head>
<body>


    <div id="header">
        <div class="center" id="header-content">
            <div id="header-top">



                <div id="login">
                    @if (Request.IsAuthenticated)
                    {

                        AccountController ac = new AccountController();
                        ac.GetCart(WebSecurity.CurrentUserName);
                        <text>

                            <li class="login-row" style="color: #fff;">
                                مرحبا . . @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!<span><img src="/images/user.png" /></span>
                            </li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                                <li class="login-row"><a href="javascript:document.getElementById('logoutForm').submit()">تسجيل الخروج</a><span><img src="/images/click.png" /></span></li>


                            }

                        </text>
                    }

                    else
                    {
                        <div>
                        

        

                        </div>

                    }




                </div>
                @{
                    if (!Request.IsAuthenticated)
                    {
                        <li class="login-row">@Html.ActionLink(" تسجيل دخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<span><img src="/images/click.png" /></span></li>
                        <li class="login-row">@Html.ActionLink("مستخدم جديد", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })<span><img src="/images/user.png" /></span></li>
                    }}
                <li class="login-row">

                    <span></span>@Html.ActionLink(string.Format(" ({1})    ({0})", new UserSession().MyCartPrductCache.ToString("c"), new UserSession().MyCartPrductCount), "MyCart", "Home", routeValues: null, htmlAttributes: new { id = "mycart" })
                </li>
            </div>
            <div style="clear: both;"></div>
            <div id="logo">
                <a href="/Home">
                    <img src="/images/logo.png" />
                </a>
            </div>
            <div id="header-left">
                <div id="search">
                    @using (Html.BeginForm("SearchProduct", "Product"))
                    {
                        <span></span>
                          <input type="submit" value="بحث" />
                        <input type="text" name="name" />
                    }
                </div>

                <div id="follow">

                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>


                </div><!--follow-->
            </div><!--header-left-->
            </div><!--header-top-->
    </div><!--login-->

    <div id="drop">
        القائمة
    </div>
    <div id="nav">
        <ul>
            <li class="first-menu"><a href="/Home/"></a></li>
           
            <li class="first-menu" id="marks">
                <a href="/AboutUs/">من نحن</a>
              

    

              
            </li>
    

      
            <li class="first-menu">
                <a href="/ContactUs/">اتصل بنا</a>



            </li>


            
            
            <li class="first-menu" id="marks">
                <a href="#">الماركات</a>
                @{

                    <ul id="first-menu">
                        @{
                            var Brands = ProductController.GetAlBrands();
                            foreach (var brand in Brands)
                            {
                                <li>



                                    <a href="/Product/Brands/@brand.Id- @brand.Name.ClearString()"> @brand.Name</a>

                                </li>
                            }
                        }
                    </ul>

                }
            </li>   
            

        </ul>




    </div>
    

</div><!--center-->
    <!--header-->
    @RenderBody()

    <div class="center" id="footer">
        <div id="footer-content">
            <div  class="footer">
                <h3>خدمة العملاء</h3>
                <p>تابعونا على . .</p>
                <div id="follow">

                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>


                </div><!--follow-->
                <ul>
                   
                    <li><a href="/GetWay/">طرق الدفع</a></li>
                    <li><a href="/Product/ShowDelevery/">طرق الشحن</a></li>
                    <li><a href="/Home/FAQ/">اسئلة واجوبة</a></li>
                </ul>
            </div>
            <div  class="footer">
                <h3>حسابى</h3>
                <ul>
                 
                    <li>@Html.ActionLink(" تسجيل دخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("مستخدم جديد", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li><a href="/Home/MyCart">عربة التسوق</a></li>
                    <li><a href="/Branche/PayBranch/">اشترى من فروعنا</a></li>
                </ul>
            </div>
            <div  class="footer">
                <h3>روابط</h3>
                <ul>
                    <li><a href="/Home/">الرئيسية</a></li>
                    <li><a href="/Product/">المنتجات</a></li>
                    <li><a href="/AboutUs/">من نحن</a></li>
                    <li><a href="/ContactUs/">اتصل بنا</a></li>
                </ul>
            </div>

                <div style="clear:both"></div>
            </div><!--footer-content-->
        <p id="copyright">
            Copyright © 2015 Elhendawy Stores. All Rights Reversed. Design by <a target="_blank" style="color: orangered;" href="http://www.pioneers-solutions.com/">pioneers</a> co
        </p>
    </div><!--center-->



    <script>

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>



</body>
@RenderSection("ScriptLoad", false)

<script src="~/Scripts/jquery.cslider.js"></script>
<script src="~/Scripts/modernizr.custom.28468.js"></script>
<script type="text/javascript">
    $(function () {

        $('#da-slider').cslider({
            autoplay: true,
            bgincrement: 450
        });

    });
</script>	 

</html>
