@using Domain.EStore
@using Ui.EStore.Controllers
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <div class="page-container-wrap">
        @section SeoRender{
            <title> هنداوى : @ViewBag.title </title>


            @{
                var url = "";
                for (var i = 0; i < @ViewBag.slider.Name.ToString().Length; i++)
                {
                    if (@ViewBag.slider.Name.ToString()[i] == ' ' || @ViewBag.slider.Name.ToString()[i] == ':')
                    {
                        url += "-";
                    }
                    else
                    {
                        url += @ViewBag.slider.Name.ToString()[i];
                    }

                }
            }

            <meta property="og:url" content="@ViewBag.RootUrl/Product/ProductView/@ViewBag.slider.Id-@url" />
            <meta property="og:title" content="@ViewBag.slider.Name " />
            <meta property="og:description" content="@ViewBag.slider.Berif" />
            <meta property="og:image" content="@ViewBag.RootUrl/App_Files/@ViewBag.slider.ImageUrl" />

        }
        <div id="breadcrumb" style="padding: 12px 10px 8px 10px;" style="padding: 12px 10px 8px 10px;">
            <span></span>
            <a href="/Home">الصفحة الرئيسية</a><span class="span"></span><a href="/Home/OfferDetails/@ViewBag.slider.Id-@ViewBag.slider.Name">@ViewBag.slider.Name</a>


        </div>
        <div id="offer-details">
            <h3>
                @ViewBag.slider.Name
            </h3>

            <img src=" @ViewBag.slider.ImageUrl " />
        
            <div class="prise">   السعر : @ViewBag.slider.SalePrice   </div>
            <p>
                @Html.Raw(ViewBag.slider.Details) 
            </p>  

           

        </div>

    </div>
</div>
